<div>
    <form {{action "addBusiness" on="submit"}}>
        <div class="input-group">
            <label for="name">Business Name</label>
            {{input value=name}}
        </div>
        <div class="input-group">
            <label for="logo">Business Logo</label>
            <input type="file" name="logo"/>
        </div>
        <div class="input-group">
            <label for="description">Business Description</label>
            {{textarea value=description}}
        </div>
        <div class="btn-group">
            <button class="btn">Cancel</button>
            <button type="submit" class="btn">Add</button>
        </div>
    </form>
</div>