<div class="app-header grid-x">
    <div class="small-6 cell">
        {{#link-to 'index'}}Solar Trace{{/link-to}}
    </div>
    <div class="small-6">
        {{#link-to 'trace' class="button float-right"}}Trace{{/link-to}}
    </div>
</div>
