<div class="app-header layout-row">
    <div class="flex">
        {{#link-to 'index'}}Solar Trace{{/link-to}}
    </div>
    <div class="flex">
        {{#link-to 'trace' class="md-default-theme md-button md-primary md-raised"}}Trace{{/link-to}}
    </div>
</div>
