<div class="app-header grid-x">
    <div class="cell auto">
        {{#link-to 'index'}}Solar Trace{{/link-to}}
    </div>
    {{#if businessIsSelected}}
        {{business.logo}}
        {{business.name}}
        {{#if addressIsSelected}}
        {{/if}}
    {{/if}}
    <div class="cell auto">
        {{#link-to 'trace' class="button float-right"}}Trace{{/link-to}}
    </div>
</div>
