// businsess
.card-business{
    width: 50%;
    padding: $padding-standard;
    overflow: hidden;
    &__logo {
        float: left;
        width: 50%;
        overflow: hidden;
        margin-right: $padding-standard;
        img {
            display: block;
            height: auto;
            width: auto;
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
        }
    }
}
