<form {{action "addCompany" on="submit"}}>
    <div class="input-group">
        <label>Company Name</label> 
        {{input value=name type="text"}}
    </div>
    <input type="submit" value="add"/>
</form>