<div class="wrapper">
	<header>
		<div class="container">
            <h1>Solar Trace</h1>
        </div>
	</header>
	<div class="content">
		<div class="container">
			{{outlet}}
		</div>
	</div>
	<footer>
		<div class="container"></div>
	</footer>
</div>