{{outlet}}
{{model.address1}}
<div class="btn" {{action 'saveTrace'}}>Save Trace</div>
{{trace-map 
    lat=lat 
    lng=lng 
    zoom=zoom
    groundZone=groundZone 
    pins=pins 
    showAddresses=showAddresses
    addresses=businessAddresses 
    addPin=(action 'addPin')}}