{{outlet}}
{{model.address1}}
<div class="btn" {{action 'saveTrace'}}>Save Trace</div>
{{trace-map
    model=model
    lat=lat
    lng=lng
    zoom=zoom
    groundZone=groundZone
    pins=pins
    showAddresses=showAddresses
    selectLocation=(action 'selectLocation')
    addPin=(action 'addPin')}}